@charset "ISO-8859-1";

body {
	background-image: url("/resources/image/img1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	
	
}

div {
	margin: 10% auto;
	background-color: gray;
	border-radius: 2%;
	color: white;
	border: 1px medium grey;
	width: 70%;
	padding: 1% 2% 5% 2%
}

button {
	display: inline-block;
	padding: 1% 1%;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #ffffff;
	background-color: #0c6c89;
	border: none;
	border-radius: 10%;
	box-shadow: 0 5px #ffffff;
}

button:hover {
	background-color: #c0c0c0
}

button:active {
	background-color: #408080;
	box-shadow: 0 5px #000000;
	transform: translateY(4px);
}